<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> Bluerang Support</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin: 0; padding: 0; font-family:sans-serif;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="padding: 10px 0 30px 0;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="750" style="border: 1px solid #cccccc; border-collapse: collapse;">
                    <tr>
                        <td align="left" bgcolor="#ffffff" style="border-bottom:1px solid #eeeeee;   color: #153643; font-size: 28px; font-weight: bold; font-family: sans-serif; padding: 0px 125px 0px 78px;" height="66">
                            <img src="logo.png" width="200" height="35" style="display: block; object-fit: cover;" />
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 0px 125px 0px 80px; background-image: url('main-bg.png'); background-repeat: no-repeat; background-size: contain; background-position: top; object-fit: cover;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="color: #153643; font-family:   sans-serif; font-size: 24px;">
                                        <h4 style="font-size: 20px; color: #000000; margin: 50px 0px 15px 0px;">Hi, Team!
                                            
                                        </h4>
                                    </td>
                                </tr>
                                <tr >
                                    <td>
                                        <p style="padding:0; color: #354052; font-family:   sans-serif; font-size: 16px; line-height: 20px; font-weight: 400; margin: 0px">

                                            One new request for developer hiring procedure. 

                                            <p><span style="font-weight: 600; color: #000;">Roles:</span> Dynamic</p>
                                            <p><span style="font-weight: 600; color: #000;">Number Of Resources:</span> Dynamic</p>
                                            <p><span style="font-weight: 600; color: #000;">Required Skill Set:</span> Dynamic (comma separated)</p>
                                            <p><span style="font-weight: 600; color: #000;">Average Experience:</span> Dynamic </p>
                                            <p><span style="font-weight: 600; color: #000;">Prefered Billing:</span> Dynamic </p>
                                            <p><span style="font-weight: 600; color: #000;"> Average Budget:</span> Dynamic </p>
                                            <p><span style="font-weight: 600; color: #000;">Tentative Availability:</span> Dynamic (comma separated)</p>
                                            <p><span style="font-weight: 600; color: #000;">Contract Period:</span> Dynamic (comma separated)</p>
                                            <p><span style="font-weight: 600; color: #000;">Extensions Allowed:</span> Dynamic (comma separated)</p>

                                            <p style="font-weight: 600">Please find the client’s contact information below,  </p>

                                            <p><span style="font-weight: 600; color: #000;">Email ID:</span> Dynamic</p>
                                            <p><span style="font-weight: 600; color: #000;">Name:</span>  Dynamic (if not available, please hide)</p>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Regards,</p>
                                        <p>Team Bluerang </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-image: url('foot-bg.jpg');
                                      height:98px;background-size:contain;padding:0px 75px 0px; background-repeat: no-repeat;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="color: #ffffff; font-family:   sans-serif; font-size: 14px;" width="35%">
                                        <ul style="text-align: left;padding:0;">
                                            <li style="display:inline-block;margin-right:16px;vertical-align: top;">
                                                <a href="https://twitter.com" target="_blank">
                                                    <img src="twitter.png" alt="Twitter" width="33" height="33" style="object-fit: cover; border-radius:50%" style="object-fit: co">
                                                </a>
                                            </li>
                                            <li style="display:inline-block;margin-right:16px;vertical-align: top;">
                                                <a href="https://in.pinterest.com/" target="_blank">
                                                    <img src="pinterest.png" alt="Pinterest" width="33" height="33" style="object-fit: cover; border-radius:50%">
                                                </a>
                                            </li>
                                            <li style="display:inline-block;margin-right:16px;vertical-align: top;">
                                                <a href="https://www.linkedin.com/" target="_blank">
                                                    <img src="linkdin.png" alt="Linkdin" width="33" height="33" style="object-fit: cover; border-radius:50%">
                                                </a>
                                            </li>
                                            <li style="display:inline-block;vertical-align: top;">
                                                <a href="https://www.instagram.com/" target="_blank">
                                                    <img src="instagram.png" alt="Instagram" width="33" height="33" style="object-fit: cover; border-radius:50%">
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                    <td align="right" width="65%">
                                        <div style="text-align: center; max-width: 400px;margin:0 auto;">
                                            <ul style="text-align: center;margin:0;">
                                                <li style="display: inline-block;vertical-align: top; border-right:1px solid #ffffff; font-weight: 600;font-size: 14px;"> <a href="mailto:hello@bluerang.com" style="color:#ffffff;text-decoration: none;padding-right: 5px;">hello@bluerang.com</a>
                                                </li>
                                                <li style="display: inline-block;vertical-align: top;"> <a href="tel:+91-8225007007" style="color:#ffffff;text-decoration: none; font-weight: 600;font-size: 14px;">+91-8225007007</a>
                                                </li>
                                            </ul>
                                            <p style="color:#ffffff;font-weight: 100;font-size: 12px; margin-left: 42px; margin-bottom: 5px; margin-top: 3px;">Copyright © 2019 <b style="font-weight: 100;">Bluerang.</b> All Rights Reserved.</p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>