doctype html
head
  title Supersourcing
  meta(name='viewport' content='width=device-width, initial-scale=1')
  style.
    a{
    transition: all 0.25s ease;
    }
    a:hover{
    text-decoration: underline;
    }
table(style='max-width:650px;width:100%;margin: 0 auto;overflow: hidden;')
  tbody
    tr
      td
        div(style='background-color: #ffffff;background-image: url(https://test.supersourcing.com/staticBase/template/background-3.png);\
        height:400px;background-size: contain;border:1px solid rgba(0,0,0,0.5);text-align: left;\
        padding:0 60px;')
          div(style='margin:85px 0 33px 0;')
            a(href='https://test.supersourcing.com/' target='_blank')
              img(src='https://test.supersourcing.com/staticBase/template/logo.png' alt='Supersourcing')
          div
            h3(style='color:#000000;font-size:35px;font-weight:bold;margin:0;\
            margin-bottom:12px;') Ticket Pending...
            p(style='color: #354052; font-size: 16px;margin:0 0 23px 0;line-height: 21px;')
              | Our support system is still trying to solve your problem. We suggest you keep some patience till then.
              | We&apos;re deeply sorry for your inconvenience. We&apos;re trying hard.
    tr
      td
        div(style="background-image: url('https://test.supersourcing.com/staticBase/template/footer-bg.png');\
        height:180px;background-size:contain;padding:25px 60px 40px;margin-top: -5px;")
          h2(style='font-size:35px;color:#ffffff;\
          font-weight:bold;margin:0;margin-bottom:24px;display: block;text-align: center; letter-spacing: -0.5px')
            | We&apos;d love to hear from you!
          ul(style='text-align: center;margin:0;padding:0;margin-bottom: 22px;')
            li(style='display:inline-block;margin-right:16px;vertical-align: top;')
              a(href='https://twitter.com/supersrcing' target='_blank')
                img(src='https://test.supersourcing.com/staticBase/template/twitter.png' alt='Twitter')
            li(style='display:inline-block;margin-right:16px;vertical-align: top;')
              a(href='https://www.facebook.com/supersrcing' target='_blank')
                img(src='https://test.supersourcing.com/staticBase/template/fb.png' alt='Facebook')
            li(style='display:inline-block;margin-right:16px;vertical-align: top;')
              a(href='https://www.linkedin.com/company/26617736/' target='_blank')
                img(src='https://test.supersourcing.com/staticBase/template/linkdin.png' alt='Linkdin')
          div(style='text-align: center; max-width: 400px;margin:0 auto;')
            p(style='color:#ffffff;font-weight: 300;font-size: 16px;margin:0;margin-bottom: 5px;')
              | Copyright &copy; 2020-21 
              b(style='font-weight: 900;') Supersourcing.
              |  All Rights Reserved.
            ul(style='text-align: center;margin:0;')
              li(style='display: inline-block;vertical-align: top; border-right:1px solid #ffffff;')
                a(href='mailto:hey@supersourcing.com' style='color:#ffffff;text-decoration: none;padding-right: 5px;') hey@supersourcing.com
              li(style='display: inline-block;vertical-align: top;')
                a(href='tel:+91-8225007007' style='color:#ffffff;text-decoration: none;') +91-8225007007
