<!DOCTYPE html>
<html>

<head>
  <title>Supersourcing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    a{
      transition: all 0.25s ease;
    }
    a:hover{
      text-decoration: underline;
    }
  </style>
</head>

<body style="font-family:sans-serif;">
  <table style="max-width:650px;width:100%;margin: 0 auto;overflow: hidden;">
    <tbody>
      <tr>
        <td>
          <div style="background-color: #ffffff;background-image: url(https://i.ibb.co/wRL4cXg/background-2.png);
          height:560px;background-size: contain;border:1px solid rgba(0,0,0,0.5);text-align: left;
          padding:0 60px;">
          <div style="margin:85px 0 33px 0;">
            <a href="https://test.supersourcing.com/" target="_blank">
              <img src="https://i.ibb.co/CV0V3wY/logo.png" alt="Supersourcing">
            </a>
          </div>  
          <div>
            <p style="color: #354052; font-size: 16px;margin:0 0 12px 0;">Hi, Aakash</p>
            <p style="color: #354052; font-size: 16px;margin:0 0 23px 0;line-height: 21px;">We feel so good to have you with us. 
              Our mission is to empower IT agencies like you and we're on it. Looking forward to having a great time with you on our platform.
            </p>
            <h3 style="color:#000000;font-size:20px;font-weight:bold;margin:0;
            margin-bottom:11px;">You are just one click away.</h3>
            <p style="color:#000000;font-size: 17px;margin:0;">Hit the verify button and get back to exploring Supersourcing.</p>
           
            <a href="https://test.supersourcing.com/"  target="_blank"><img src="https://i.ibb.co/CQYhgFx/verify-btn.png" style="margin-left: -22px;" alt="Verify"></a>
            <p style="color:#354052;font-size:16px;line-height:21px;margin:0;">We promise to never spam your inbox and give your email away.
               We will only share the information which is important for you to know.</p>
          </div>
        </div>
        </td>
      </tr>
      <tr>
        <td>
          <div style="background-image: url('footer_bg.png');
          height:180px;background-size:contain;padding:25px 60px 40px;margin-top: -5px;" >
            <h2 style="font-size:35px;color:#ffffff;
            font-weight:bold;margin:0;margin-bottom:24px;display: block;text-align: center; letter-spacing: -0.5px">
            We'd love to hear from you!</h2>
            <ul style="text-align: center;margin:0;padding:0;margin-bottom: 22px;">
              <li style="display:inline-block;margin-right:16px;vertical-align: top;">
                <a href="https://twitter.com" target="_blank"><img src="twitter.png" alt="Twitter"></a>
              </li>
              <li style="display:inline-block;margin-right:16px;vertical-align: top;">
                <a href="https://in.pinterest.com/" targe`t="_blank"><img src="pinterest.png" alt="Pinterest"></a>
              </li>
              <li style="display:inline-block;margin-right:16px;vertical-align: top;">
                <a href="https://test.supersourcing.com/" target="_blank"><img src="linkdin.png" alt="Linkdin"></a>
              </li>
              <li style="display:inline-block;vertical-align: top;">
                <a href="https://test.supersourcing.com/" target="_blank"><img src="instagram.png" alt="Instagram"></a>
              </li>
            </ul>
            <div style="text-align: center; max-width: 400px;margin:0 auto;">
              <p style="color:#ffffff;font-weight: 300;font-size: 16px;margin:0;margin-bottom: 5px;">Copyright &copy; 2020-21 <b style="font-weight: 900;">Supersourcing.</b> All Rights Reserved.</p>
              <ul style="text-align: center;margin:0;">
                <li style="display: inline-block;vertical-align: top; border-right:1px solid #ffffff;">
                  <a href="mailto:hey@supersourcing.com" style="color:#ffffff;text-decoration: none;padding-right: 5px;">hey@supersourcing.com</a>
                </li>
                <li style="display: inline-block;vertical-align: top;">
                  <a href="tel:+91-8225007007" style="color:#ffffff;text-decoration: none;">+91-8225007007</a>
                </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>