doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title Welcome Mail
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
table(border='0' cellpadding='0' cellspacing='0' width='100%')
  tr
    td(style='padding: 10px 0 30px 0;')
      table(align='center' border='0' cellpadding='0' cellspacing='0' width='750' style='border: 1px solid #cccccc; border-collapse: collapse;')
        tr
          td(align='left' bgcolor='#ffffff' style='border-bottom:1px solid #eeeeee;   color: #153643; font-size: 28px; font-weight: bold; font-family:sans-serif; padding: 0px 125px 0px 78px;' height='66')
            img(src='https://test.supersourcing.com/staticBase/template/logo.png' width='182' height='34' style='display: block; object-fit: cover;' alt='logo')
        tr
          td(bgcolor='#ffffff' style="padding: 0px 125px 0px 80px; background-image: url('https://test.supersourcing.com/staticBase/template/main-bg.png'); background-repeat: no-repeat; background-size: cover; background-position: left; object-fit: cover;")
            table(border='0' cellpadding='0' cellspacing='0' width='100%')
              tr
                td(style='color: #153643; font-family:sans-serif; font-size: 24px;')
                  h4(style='font-size: 20px; color: #000000; margin: 50px 0px 15px 0px; font-family:sans-serif;')
                    | Welcome to Supersourcing
              tr
                td
                  p(style='padding:0px 0px 15px 0px; color: #354052; font-family:sans-serif; font-size: 16px; line-height: 20px; font-weight: 400; margin: 0px')
                    | You are now part of a community that connects clients with IT agencies. Find the right agencies to work with and discover new business prospects.
              tr
                td
                  p(style='padding:0px 0px 15px 0px; color: #354052; font-family:sans-serif; font-size: 16px; line-height: 20px; font-weight: 400; margin: 0px')
                    | Experience the exciting new world of supersourcing.
                    | We cant wait for you to get started.
              tr
                td
                  p(style='padding:0px 0px 15px 0px; color: #354052; font-family:sans-serif; font-size: 16px; line-height: 20px; font-weight: 400; margin-bottom: 40px;')
                    | Over the next few days, you&apos;ll get a series of emails to help you find agencies that match your requirement.
        tr
          td(style="background-image: url('https://test.supersourcing.com/staticBase/template/foot-bg.jpg');\
          height:98px;background-size:contain;padding:0px 75px 0px; background-repeat: no-repeat;")
            table(border='0' cellpadding='0' cellspacing='0' width='100%')
              tr
                td(style='color: #ffffff; font-family:sans-serif; font-size: 14px;' width='35%')
                  ul(style='text-align: left;padding:0;')
                    li(style='display:inline-block;margin-right:16px;vertical-align: top;')
                      a(href='https://twitter.com/supersrcing' target='_blank')
                        img(src='https://test.supersourcing.com/staticBase/template/twitter.png' alt='Twitter' width='33' height='33' style='object-fit: cover; border-radius:50%')
                    li(style='display:inline-block;margin-right:16px;vertical-align: top;')
                      a(href='https://www.facebook.com/supersrcing' target='_blank')
                        img(src='https://test.supersourcing.com/staticBase/template/fb.png' alt='Facebook' width='33' height='33' style='object-fit: cover; border-radius:50%')
                    li(style='display:inline-block;margin-right:16px;vertical-align: top;')
                      a(href='https://www.linkedin.com/company/26617736/' target='_blank')
                        img(src='https://test.supersourcing.com/staticBase/template/linkdin.png' alt='Linkdin' width='33' height='33' style='object-fit: cover; border-radius:50%')
                td(align='right' width='65%')
                  div(style='text-align: center; max-width: 400px;margin:0 auto;')
                    ul(style='text-align: center;margin:0;')
                      li(style='display: inline-block;vertical-align: top; border-right:1px solid #ffffff; font-weight: 600;font-size: 14px;')
                        a(href='mailto:hey@supersourcing.com' style='color:#ffffff;text-decoration: none;padding-right: 5px;') hey@supersourcing.com
                      li(style='display: inline-block;vertical-align: top;')
                        a(href='tel:+91-8225007007' style='color:#ffffff;text-decoration: none; font-weight: 600;font-size: 14px;') +91-8225007007
                    p(style='color:#ffffff;font-weight: 100;font-size: 12px; margin-left: 42px; margin-bottom: 5px; margin-top: 3px;')
                      | Copyright &copy; 2020-21 
                      b(style='font-weight: 100;') Supersourcing.
                      |  All Rights Reserved.

